.backtoprevious{
	padding-top: 85px;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
	
}
.btp{
	height: 34px;
	width: 100%;
	background: lightgrey;
	border-radius: 5px;
	font-family:  arial;
	padding-top: 10px;
	display: inline-flex;
	

}
.btp a{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 20px;
}
.btp a:hover{
	
	color: white;
	border-radius: 1px solid black;
	
}
#shop11{
	margin-left: 25px;
	margin-right: 20px;
}
#b2home{
	margin-top: 1px;
	margin-left: 10px;
	margin-right: 10px;
	color: grey;
	font-size: 18px;
}
#b2cart{
	margin-top: 1px;
	margin-left: 10px;
	margin-right: 10px;
	color: grey;
	font-size: 18px;
}
#slash1{
	margin-right: 10px;
}
.btp p{
	font-weight: bold;
	font-size: 18px;
	margin-right: 5px;
	margin-left: 5px;
	color: grey;
	cursor: pointer;

}

.acountcontainer{
	width: 100%;
	display: inline-flex;
	font-family: arial;
	margin-bottom: 10px;
	
}
.accountinfo{
	margin-top: 10px;
	margin-left: 10px;
	width: 300px;
	background: lightgrey;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.accountinfo ul{
	margin-top: 40px;
}
.accountinfo ul li{
	list-style-type: none;
}
.accountinfo ul li p{
	margin-top: 20px;
	font-size: 30px;
	font-weight: bold;
}
.accountinfo ul li ul li{
	margin-top: 10px;
	margin-bottom: 10px;
	list-style-type: none;
}


.accountinfo ul li ul li a{
	text-decoration: none;
}
.accountaction{
	justify-content: flex-end;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	width: 100%;
	border-radius: 5px;
	background: white;
}
.myordercont{
	height: 300px;
	width: 900px;
	
}
table{
	margin-top: 10px;
	border: 1px solid black;
}
.sttth{

}
#table_th1{
	width: 150px;
	height: 50px;
	border: 1px solid black;
}
#table_th2{
	width: 150px;
	border: 1px solid black;
}
#table_th3{
	width: 70px;
	border: 1px solid black;
}
#table_th4{
	width: 150px;
	border: 1px solid black;
}
#table_th5{
	width: 150px;
	border: 1px solid black;
}
#table_th6{
	width: 150px;
	border: 1px solid black;
}
#table_tr1{
	border: 1px solid black;
}
.cpbtn{
	border: 1px solid black;
	background-color: blue;
	border-radius: 4px;
	color: white;
	padding: 9px;
}
.cpbtn:hover{
	border: 1px solid black;
	background-color: lightblue;
}
.cpaswardcont{
	margin-top: 10px;
	padding: 20px;
	background: lightblue;
	height: 300PX;
	width: 400px;
		border-radius: 5px;
}
.cph2{
	margin-bottom: 20px;
	color: blue;
}
.cpaswardcont p{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
}
.cpaswardcont input{
	height: 30px;
	width: 300px;
}
#cpasssubmitbtn{
	margin-top: 20px;
	border: 1px solid black;
	padding: 10px;
	width: 150px;
	font-size: 20px;
	background: white;

}
#cpasssubmitbtn:hover{
	background: black;
	opacity: .8;
	border: 1px solid white;
	color: white;
}
#accountdelbtn{
	margin-top: 30px;
	font-size: 20px;
	padding: 10px ;
	color: white;
	background: red;
	border:1px solid black;
}
#accountdelp{
	font-size: 30px;
	color: red;
}

/*---------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 560px) {

.backtoprevious{
	padding-top: 80px;
	height: 30px;
	margin-left: 5px;
	margin-right: 5px;
	
}
.btp{
	height: 25px;
	padding-top: 5px;
	border-radius: 4px;
}
.btp a{
	color: black;;
	font-size: 16px;
}
#shop11{
	margin-left: 25px;
	margin-right: 20px;
}
#b2home{
	margin-top: 1px;
	margin-left: 7px;
	margin-right: 7px;
	color: grey;
	font-size: 14px;
}
#b2cart{
	margin-top: 1px;
	margin-left: 7px;
	margin-right: 7px;
	color: grey;
	font-size: 14px;
}
#slash1{
	margin-right: 10px;
}
.btp p{

	font-size: 14px;
	margin-right: 5px;
	margin-left: 5px;
	color: grey;
	cursor: pointer;

}
.acountcontainer{
	display: block;
}
.accountinfo{
	margin-top: -35px;
	margin-left: 0px;
	width: 100%;
	background: lightgrey;
	border-radius: 5px;
	padding-left: 0px;
	padding-right: 0px;
}

.accountinfo ul{
	margin-top: 40px;
}
.accountinfo ul li{
	list-style-type: none;
	margin-top: 10px;
}
.accountinfo ul li p{
	margin-top: 0px;
	font-size: 20px;
	font-weight: bold;
	padding-top: 10px;
}
.accountinfo ul li ul{
	padding-bottom: 10px;
	margin-top: 5px;
}
.accountinfo ul li ul li{
	margin-top: 10px;
	margin-bottom: 10px;
	list-style-type: none;
}


.accountinfo ul li ul li a{
	text-decoration: none;
}
.accountaction{
	margin-top: 5px;
	margin-right: 0px;
	margin-left: 0px;
	width: 100%;
	border-radius: 5px;
	background: white;
}
.myordercont{
	height: 300px;
	width: 370px;
	
}
table{
	margin-top: 10px;
	border: 1px solid black;
	font-size: 60%;
}
.sttth{

}
#table_th1{
	width: 80px;
	height: 50px;
	border: 1px solid black;
}
#table_th2{
	width: 80px;
	border: 1px solid black;
}
#table_th3{
	width: 80px;
	border: 1px solid black;
}
#table_th4{
	width: 80px;
	border: 1px solid black;
}
#table_th5{
	width: 80px;
	border: 1px solid black;
}
#table_th6{
	width: 80px;
	border: 1px solid black;
}
#table_tr1{
	border: 1px solid black;
}
.cpbtn{
	font-size: 80%;
	width: 40px;
	padding: 5px;
}
.cpaswardcont{
	margin-top: 10px;
	padding: 20px;
	background: lightblue;
	height: 300PX;
	width: 300px;
		border-radius: 5px;
}
.cph2{
	margin-bottom: 20px;
	color: blue;
}
.cpaswardcont p{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
}
.cpaswardcont input{
	height: 30px;
	width: 300px;
}
#cpasssubmitbtn{
	margin-top: 20px;
	border: 1px solid black;
	padding: 10px;
	width: 150px;
	font-size: 20px;
	background: white;

}
#cpasssubmitbtn:hover{
	background: black;
	opacity: .8;
	border: 1px solid white;
	color: white;
}
}