*{
	margin: 0;
	padding: 0;
}
body{
}
.header{
	position: fixed;
	width: 100%;
	z-index: 1;
	box-shadow: 1px 1px 12px rgba(47,47,47,0.40);
}
.header1{
	background: #0382C5;
	height: 24px;
	width: 100%;
	
}
.header1 h6{

}
.header1 ul {
	list-style-type: none;
	text-align: right; 
	margin-top: -15px;	
}
.header1 ul li {
	display: inline;
	margin-right: 20px;
}
.header1 ul li a {
	text-decoration: none;
	font-family: arial;
	font-size: 61%;
	color: white;
	padding: 0px;
}

.header1 ul li a:hover {
	
	color: black;
	
}

.header1 h6 {
Color: white;
align-items: center;
margin-left: 30px; 
padding-top: 5px;
}

.header2{
	height: 50px;
	width: 100%;
	background: #059BEB;
	
	display: inline-flex;
}


.header2 img{
	height: 50px;
	width: 50px;
	padding-left: 25px;
}

.header2 h5{
	text-decoration: none;
	color: #070C5A;
	padding-top: 18px;
}

.header2 input{
	padding-left: 20px;
	margin-left: 40px;
	margin-top: 4px;
	font-family: sans-serif;
	border: 1px solid black;
	height: 40px;
	width: 600px;
	border-radius: 10px 0px 0px 10px;
	background: #F7F7F7;
}
.header2 button{
		height: 42px;
		margin-top: 4px;
		border: 1px solid black;
		padding-left: 5px;
		padding-right: 8px;
		width: 130px;
		border-radius: 0px 10px 10px 0px;
		background-color: orange;
}

.header2 a{
	text-decoration: none;
	font-family: arial;
	margin-left: 40px;
	margin-top: 15px;
	color: white;
}
.header2 a:hover {
	color: black;
	
}

.signup{
	

	margin-top: 5px;
	
	
}
.signup img{

	width: 40PX;
	height: 40PX;
}
.signup a{
	margin-left: -24px;
}
.container{
}
.container-p{
	text-align: center;
	padding-top: 100px;
	font-size: 200%;
	margin-bottom: 30px;
	font-family: arial;
}
.container1{
	height: 350px;
	width: 1349px;
	border-top: 2px solid #F5F5F5;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	margin-top: 10px;
}
.slider-box{
	height: 320px;
	width: 240px;
	margin: 10px;
	margin-left: 40px;
	margin-right: 40px;
	position: relative;
	background: #ffffff;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	
}
.slider-box a{
	text-decoration: none;
	text-align: center;
}
.slider-box p{
	color: #0382C5;
}
.img-box{
	height: 170px;
}
.img-box img{
	height: auto;
	max-width: 100%;
	max-height:100%;
}
.time{
	position: absolute;
	top: 0px;
	right: 20px;
	color: #f16007;
}
.detail{
	display:flex;
	text-decoration: column;
	align-items: center;
	box-sizing: border-box;
	color: black;
	font-size: 19px;
	line-height: 39px;

}
.features{
	display:flex;
	text-decoration: column;
	align-items: center;
	box-sizing: border-box;
	color: #23D504;
}
.price{
	color: black;
	line-height: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}
.price-cut{
	color: grey;
	line-height: 15px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	font-size: 80%;
}

.slider-box:hover{
	box-shadow:2px 2px 12px rgba(47,47,47,0.40);
}
.slider-box:hover .img-box img{
	transform: scale(1.07);
	transition: all case 0.3s;
}

.footer{
	height: 45px;
	width: 100%;
	background: #059BEB;
	cursor: pointer;
}
.footer h4{
	font-size: 70%;
	padding-top: 12px;
	padding-left: 10px;

}
.footer p{
margin-top: -10px;
	float: right;
	padding-right: 20px;
	font-size: 70%;
}
